<section class="mbr-section mbr-section-md-padding" id="social-buttons3-9" style="background-color: rgb(46, 46, 46); padding-top: 30px; padding-bottom: 30px;">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-xs-center">
        <h3 class="mbr-section-title display-2">SHARE THIS PAGE!</h3>
        <div>

          <div class="mbr-social-likes" data-counters="false">
                    <span class="btn btn-social facebook" title="Share link on Facebook">
                        <i class="socicon socicon-facebook"></i>
                    </span>
            <span class="btn btn-social twitter" title="Share link on Twitter">
                        <i class="socicon socicon-twitter"></i>
                    </span>
            <span class="btn btn-social plusone" title="Share link on Google+">
                        <i class="socicon socicon-googleplus"></i>
                    </span>
            <span class="btn btn-social vkontakte" title="Share link on VKontakte">
                        <i class="socicon socicon-vkontakte"></i>
                    </span>
            <span class="btn btn-social odnoklassniki" title="Share link on Odnoklassniki">
                        <i class="socicon socicon-odnoklassniki"></i>
                    </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-footer mbr-section mbr-section-md-padding" id="contacts3-a" style="background-color: rgb(46, 46, 46); padding-top: 0px; padding-bottom: 0px;">


  <div class="row">

    <div class="mbr-company col-xs-12 col-md-6 col-lg-3">

      <div class="mbr-company card">
        <div><a routerLinkActive="active" routerLink="/home" class="etl-icon icon-puzzle mbr-iconfont mbr-iconfont-logo-contacts3" style="color: rgb(41, 105, 176);"></a></div>
        <div class="card-block">
          <p class="card-text">Footer with solid color background and a contact form, Easily add subscribe and contact forms without any server-side integration.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="list-group-icon"><span class="etl-icon icon-phone mbr-iconfont-company-contacts3"></span></span>
            <span class="list-group-text">+1 (0) 000 0000 001 or +1 (0) 000 0000 002</span>
          </li>
          <li class="list-group-item">
            <span class="list-group-icon"><span class="etl-icon icon-map-pin mbr-iconfont-company-contacts3"></span></span>
            <span class="list-group-text">1234 Street Name, City AA 99999</span>
          </li>
          <li class="list-group-item active">
            <span class="list-group-icon"><span class="etl-icon icon-envelope mbr-iconfont-company-contacts3"></span></span>
            <span class="list-group-text"><a href="mailto:support@mobirise.com" class="text-white">support@mobirise.com</a></span>
          </li>
        </ul>
      </div>

    </div>
    <div class="mbr-footer-content col-xs-12 col-md-6 col-lg-3">
      <h4>Categories</h4>
      <ul>
        <li><a routerLinkActive="active" routerLink="/professorsSurveys">Professors</a></li>
        <li><a routerLinkActive="active" routerLink="/administrationSurveys">Administration</a></li>
        <li><a routerLinkActive="active" routerLink="/extraSurveys">Extras</a> </li>
        <br>
      </ul>
    </div>
    <div class="mbr-footer-content col-xs-12 col-md-6 col-lg-3">
      <p><strong>Contacts</strong><br>Email: support@mobirise.com<br>Phone: +1 (0) 000 0000 001<br>Fax: +1 (0) 000 0000 002<br><br><br><strong>Address</strong><br>1234 Street Name<br>City, AA 99999</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" data-form-type="formoid">

      <div data-form-alert="true">
        <div hidden="" data-form-alert-success="true">Thanks for filling out form!</div>
      </div>

      <form action="https://mobirise.com/" method="post" data-form-title="MESSAGE">

        <input type="hidden" value="GHSiLULQglIsJOz47W8ra0SSG8C7GVgFcmzoSM+RpTy+TILUC/skXdzxLcBK2wVnuvSiIaNxEStFvuUH6ns/UMP3WxXx89IfuGrcQ1eyZRwb75L1Dd1k+33x4brotvgw" data-form-email="true">

        <div class="form-group">
          <label class="form-control-label" for="contacts3-a-name">Name<span class="form-asterisk">*</span></label>
          <input type="text" class="form-control input-sm input-inverse" name="name" required="" data-form-field="Name" id="contacts3-a-name">
        </div>

        <div class="form-group">
          <label class="form-control-label" for="contacts3-a-email">Email<span class="form-asterisk">*</span></label>
          <input type="email" class="form-control input-sm input-inverse" name="email" required="" data-form-field="Email" id="contacts3-a-email">
        </div>

        <div class="form-group">
          <label class="form-control-label" for="contacts3-a-phone">Phone</label>
          <input type="tel" class="form-control input-sm input-inverse" name="phone" data-form-field="Phone" id="contacts3-a-phone">
        </div>

        <div class="form-group">
          <label class="form-control-label" for="contacts3-a-message">Message</label>
          <textarea class="form-control input-sm input-inverse" name="message" data-form-field="Message" rows="5" id="contacts3-a-message"></textarea>
        </div>

        <div><button type="submit" class="btn btn-sm btn-black">Contact us</button></div>

      </form>

    </div>
  </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 0rem; padding-bottom: 0rem;">

  <div class="container">
    <p class="text-xs-center">Copyright (c) 2017 Belguith Omar</p>
  </div>
</footer>
