<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow mbr-after-navbar" id="header5-4" style="background-image: url(/assets/images/mbr-1-1400x933.jpg);">
  <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(0, 0, 0);"></div>
  <div class="mbr-table-cell">
    <div class="container">
      <div class="row">
        <div class="mbr-section col-md-10 col-md-offset-2 text-xs-right">
          <h1 class="mbr-section-title display-1">CONTRIBUTE FOR A BETTER LEARNING</h1>
          <p class="mbr-section-lead lead">Start making surveys to make SMU a better place for you and for US</p>
          <div class="mbr-section-btn" *ngIf="authService.loggedIn()"><a class="btn btn-lg btn-primary" routerLinkActive="active"  routerLink="/professorsSurveys">Contribute</a></div>
          <div class="mbr-section-btn" *ngIf="!authService.loggedIn()"><a class="btn btn-lg btn-primary" routerLinkActive="active"  routerLink="/login">Contribute</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#features4-5"><i class="mbr-arrow-icon"></i></a></div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-5" style="background-color: rgb(255, 255, 255);">
  <div class="mbr-cards-row row">
    <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
      <div class="container">
        <div class="card cart-block">
          <div class="card-img iconbox"><a routerLinkActive="active" routerLink="/professorsSurveys" class="etl-icon icon-phone mbr-iconfont mbr-iconfont-features4" style="color: black;"></a></div>
          <div class="card-block">
            <h4 class="card-title"><a routerLinkActive="active" routerLink="/professorsSurveys">Professors</a></h4>
            <h5 class="card-subtitle">Bootstrap 4 has been noted</h5>
            <p class="card-text">Bootstrap 4 has been noted as one of the most reliable and proven frameworks and Mobirise has been equipped to develop websites using this framework.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
      <div class="container">
        <div class="card cart-block">
          <div class="card-img iconbox"><a routerLinkActive="active" routerLink="/administrationSurveys" class="etl-icon icon-edit mbr-iconfont mbr-iconfont-features4" style="color: black;"></a></div>
          <div class="card-block">
            <h4 class="card-title"><a routerLinkActive="active" routerLink="/administrationSurveys">Administration</a></h4>
            <h5 class="card-subtitle">One of Bootstrap 4's big points</h5>
            <p class="card-text">One of Bootstrap 4's big points is responsiveness and Mobirise makes effective use of this by generating highly responsive website for you.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
      <div class="container">
        <div class="card cart-block">
          <div class="card-img iconbox"><a routerLinkActive="active" routerLink="/extraSurveys" class="etl-icon icon-briefcase mbr-iconfont mbr-iconfont-features4" style="color: black;"></a></div>
          <div class="card-block">
            <h4 class="card-title"><a routerLinkActive="active" routerLink="/extraSurveys">Extras</a></h4>
            <h5 class="card-subtitle">Google has a highly exhaustive list of fonts</h5>
            <p class="card-text">Google has a highly exhaustive list of fonts compiled into its web font platform and Mobirise makes it easy for you to use them on your website easily and freely.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section article mbr-parallax-background" id="msg-box8-6" style="background-image: url(/assets/images/desert.jpg); padding-top: 80px; padding-bottom: 80px;">
  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-xs-center">
        <h3 class="mbr-section-title display-2">CONTRIBUTE</h3>
        <div class="lead"><p>Contribute in making SMU a better place</p></div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section" id="testimonials1-7" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
  <div class="mbr-section mbr-section__container mbr-section__container--middle">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-xs-center">
          <h3 class="mbr-section-title display-2">WHAT OUR FANTASTIC USERS SAY</h3>
          <small class="mbr-section-subtitle">Shape your future web project with sharp design and refine coded functions.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="mbr-testimonials mbr-section mbr-section-nopadding">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-lg-4">

          <div class="mbr-testimonial card mbr-testimonial-lg">
            <div class="card-block"><p>“its really very amazing app that makes me finish html page in 3 minutes ( that's usually takes more than 1 hours at least from me if i did it from scratch). i hope to have very big library and plugins for this APP thanks again for your nice application”</p></div>
            <div class="mbr-author card-footer">
              <div class="mbr-author-img"><img src="/assets/images/face3.jpg" class="img-circle"></div>
              <div class="mbr-author-name">Abanoub S.</div>
              <small class="mbr-author-desc">User</small>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="mbr-testimonial card mbr-testimonial-lg">
            <div class="card-block"><p>“First of all hands off to you guys for your effort and nice, super tool. Good work mobirise team. We are expecting the new version soon with advance functionality with full bootstrap design. Great effort and super UI experience with easy drag &amp; drop with no time design bootstrap builder in present web design world.”</p></div>
            <div class="mbr-author card-footer">
              <div class="mbr-author-img"><img src="/assets/images/face1.jpg" class="img-circle"></div>
              <div class="mbr-author-name">Suffian A.</div>
              <small class="mbr-author-desc">User</small>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="mbr-testimonial card mbr-testimonial-lg">
            <div class="card-block"><p>“At first view, looks like a nice innovative tool, i like the great focus and time that was given to the responsive design, i also like the simple and clear drag and drop features. Give me more control over the object's properties and ill be using this tool for more serious projects. Regards.”</p></div>
            <div class="mbr-author card-footer">
              <div class="mbr-author-img"><img src="/assets/images/face2.jpg" class="img-circle"></div>
              <div class="mbr-author-name">Jhollman C.</div>
              <small class="mbr-author-desc">User</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section" id="testimonials2-8" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
  <div class="mbr-section mbr-section__container mbr-section__container--middle">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-xs-center">
          <h3 class="mbr-section-title display-2">OUR TEAM</h3>
          <small class="mbr-section-subtitle">Shape your future web project with sharp design and refine coded functions.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="mbr-section mbr-section-nopadding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="mbr-testimonial card mbr-testimonial-lg">
            <div class="card-block"><p>“its really very amazing app that makes me finish html page in 3 minutes ( that's usually takes more than 1 hours at least from me if i did it from scratch). i hope to have very big library and plugins for this APP thanks again for your nice application”</p></div>
            <div class="mbr-author card-footer">
              <div class="mbr-author-img"><img src="/assets/images/face3.jpg" class="img-circle"></div>
              <div class="mbr-author-name">Abanoub S.</div>
              <small class="mbr-author-desc">User</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
